* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /*   border: 1px solid; */
  font-family: sans-serif;
  color: #3c3c3c;
}
html {
  background: #ebe7e3;
}
nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 8px 30px;
  background: #deb992;
  position: relative;
  /* padding-top: 100px; */
}
nav .logo {
  font-size: 36px;
  font-weight: 800;
  margin: auto 0;
}
nav ul {
  padding: 12px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  /* font-size: 20px; */
  /* letter-spacing: 1px; */
  padding: 5px 8px;
  border-radius: 5px;
  text-align: center;
  /* text-transform: capitalize; */
  color: #000;
}
nav ul li:hover a {
  background: #657e68;
  /* width: 100px; */
  color: #fff;
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 40px;
  line-height: 35px;
}
nav .search_box input {
  width: 750px;
  padding: 0 8px;
  border: none;
  outline: none;
  font-size: 16px;
}
nav .search_box span {
  font-size: 20px;
  color: #f4bb42;
  background: #fff;
  line-height: 35px;
  padding: 0 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
nav .search_box span:hover {
  color: #fff;
}
nav .search_box span::after {
  height: 100%;
  width: 0%;
  content: "";
  background: #657e68;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}
nav .search_box span:hover::after {
  width: 100%;
}

nav .checkbtn {
  position: relative;
  margin: auto;
  display: none;
}

nav .checkbtn span {
  position: absolute;
  font-size: 25px;
}
#check {
  display: none;
}

.gg-shopping-bag {
  /* display: flex; */
  /* This value will multiple the actual size  */
  /* --ggs: 1.5; */
  transform: translateY(-12px) scale(1.5) translateX(8px);
  /* align-items: flex- ; */
}

@media screen and (max-width: 1200px) {
  nav {
    display: block;
    text-align: center;
    padding: 0;
  }
  nav .logo {
    display: inline-block;
  }

  nav .search_box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 10px 0;
  }
  nav .search_box input {
    width: 90%;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 0;
    visibility: hidden;
  }
  nav ul li {
    opacity: 1;
    /* padding-top: 5000px; */
  }
  nav ul li a {
    color: #000;
    font-size: 28px;
    padding: 25px;
    display: block;
  }

  nav .checkbtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }
  nav .checkbtn #times {
    display: none;
  }
  #check:checked ~ nav .checkbtn #bars {
    display: none;
  }
  #check:checked ~ nav .checkbtn #times {
    display: block;
  }
  #check:checked ~ nav ul {
    visibility: visible;
    height: 465px;
  }
}
